.products-container {
  width: 100%;
  padding: 0.5rem;
  background-color: rgb(255, 255, 255);
  margin-bottom: 1rem;
}

.min-height {
  min-height: 90vh;
}

.products-container .display-grid {
  width: 100%;
  display: grid;
  justify-content: space-around;
  align-items: center;
  gap: 0.3rem;
  row-gap: 0.7rem;
  grid-template-columns: repeat(auto-fill, 160px);
  padding: 0.2rem;
  margin: 1.2rem auto;
}

.products-container h2 {
  font-size: 1.7rem;
}

.navbar-top {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.2rem;
  justify-content: space-between;
  background-color: #f0d9af;
}

.navbar-top span {
  font-weight: bold;
}

.products-navbar {
  margin: 1rem 0 0.5rem 0;
}

.swiper-product {
  margin-top: 1rem;
}

.swiper-navbar {
  padding: 0 0.2rem;
}

.hidden {
  display: none;
}

.nav-item {
  width: auto !important;
  margin: 1rem 0 !important;
}

.nav-item a {
  padding: 0.35rem 1rem;
  border-radius: 20px;
  border: 1px solid #333;
  color: #000000;
  white-space: nowrap;
  transition: all 0.3s;
  margin: 0 0.5rem;
}

.nav-item a:hover {
  color: #ffffff;
  background: #383737;
}

.nav-item .active-nav-link {
  background: #000000;
  color: #ffffff;
}

.product-grid {
  width: 100%;
  margin: 1rem 0;
}

.product-item {
  width: auto !important;
}

.flex {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .product-grid {
    justify-content: center;
  }

  .products-container .display-grid {
    grid-template-columns: repeat(auto-fill, 170px);
  }
}
