.profile-container {
  min-height: 100vh;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.profile-container h1 {
  color: #f58618;
  text-shadow: 2px 2px 4px #00000054;
}

.profile-return-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 0.2rem;
  border-bottom: 1px solid #0202025e;
  padding-bottom: 1rem;
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
  margin-top: 1rem;
}

.profile img {
  border-radius: 50%;
}

.profile p {
  font-size: 1rem;
}

.profile .user-email {
  color: gray;
}

.profile .user-name {
  font-size: 1.2rem;
}
.profile-flex {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 35px;
}

.logout {
  width: 100px;
  height: auto;
  padding: 0.5rem;
  background-color: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: transparent;
  border: 1px solid #f58618;
  color: #000000;
}

/* @media screen and (max-width: 500px) {
  .profile-card {
    display: flex;
  }
} */
