.navbar {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: rgb(255, 255, 255);
  color: #0a0a0a;
  width: 100%;
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  padding: 0.7rem;
  position: sticky;
  top: 0;
  z-index: 10000;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  height: 50px;
  position: relative;
}

.total-cart-quantity {
  font-size: 0.8rem;
  background-color: #f37a00;
  border-radius: 50%;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  right: -5px;
  font-weight: bold;
}

.navbar-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 180px;
}

.navbar-center {
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  gap: 0.2rem;
  border-radius: 30px;
  border: 1px solid #494646;
  padding: 0.5rem 1rem;
}

.navbar-center input {
  font-size: inherit;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: #000;
}

.search-icon {
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 2rem;
  color: #ff8914;
  text-shadow: 2px 2px 4px #0000004b;
}

.logo .logo-img {
  width: 20px;
  height: 20px;
}

.logo-icon {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.navbar .menu {
  position: relative;
}

.menu-nav {
  position: absolute;
  z-index: 100;
  left: -0.7rem;
  background-color: #ffffff;
  color: #000000;
  padding-top: 1.5rem;
  display: none;
  width: 200px;
  border-bottom-right-radius: 10px;
}

.open {
  display: block;
}

.hidden {
  display: none;
}

.menu-nav li {
  list-style-type: none;
  padding: 1rem;
  border-bottom: 2px solid #e9e6e6;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  font-weight: 500;
}

.menu-nav li:hover {
  background-color: #e4e4e4;
}

.menu-nav li:hover:last-child {
  border-bottom-right-radius: 10px;
}

.menu-nav li:last-child {
  border-bottom: none;
}

.navbar .account {
  display: flex;
  gap: 0.2rem;
  align-items: flex-end;
  background-color: #ebbb8b2c;
  border-radius: 7px;
  padding: 0.4rem;
  cursor: pointer;
}

.select {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  position: relative;
}

.account-action {
  position: absolute;
  top: 1.4rem;
  right: -2.5rem;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  padding: 1rem 0 0;
  background-color: #fffcfc;
  color: #000000;
  width: 170px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.account-action .account-btn-login {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #f58618;
  margin: 0 1rem 0.5rem;
  width: 80%;
  cursor: pointer;
}

.account-action .account-btn-login a {
  color: #fff;
}

.account-action .account-btn-login:hover {
  background-color: #ff8000;
}

.account-action .account-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  font-weight: 450;
}

.account-action .account-btn:hover {
  background-color: #e4e4e4;
}

.account-action .account-btn:hover:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.account {
  border: none;
  background-color: transparent;
  outline: none;
  display: flex;
  align-items: center;
}

.display {
  visibility: visible;
}

.navbar img {
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.navbar-right .user-checked-icon {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 20px;
  background-color: #fff;
  border-radius: 50%;
}

/*Media Queries*/

@media screen and (max-width: 520px) {
  h1 {
    font-size: 1.7rem;
  }
  .navbar-center input {
    display: none;
  }

  .search-product {
    display: none;
  }

  .logo .logo-img {
    display: none;
  }

  .navbar-center {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    border-radius: 50%;
    border: none;
    padding: 0.5rem 1rem;
  }
}

@media screen and (min-width: 520px) {
  .search-page {
    display: none;
  }
}
