.product-deals {
  width: 100%;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(245, 245, 245, 0.6);
  border-radius: 10px;
  margin: 1rem auto;
  max-width: 90vw;
}

.slider img {
  display: block;
  border-radius: 5px;
  margin: 0.5rem auto;
}

.swiper-item {
  width: auto !important;
}

.product-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0d9af;
  color: #000000;
  padding: 0.5rem;
}

.product-nav p {
  display: flex;
  align-items: center;
}
