.products-container {
  width: 100%;
  padding: 0.5rem;
  background-color: rgb(230, 223, 223);
}

.products-container h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.products-navbar {
  margin: 0.5rem 0;
}

.swiper-navbar {
  padding: 0 0.2rem;
}

.nav-item {
  width: auto !important;
}

.nav-item button {
  padding: 8px 16px;
  border-radius: 20px;
  background: #000000;
  border: 1px solid #ddd;
  cursor: pointer;
  color: #eee8e8;
  white-space: nowrap;
  transition: all 0.3s;
}

.nav-item button:hover {
  background: #383737;
}

.product-grid {
  width: 100%;
  margin: 1rem 0;
  /* display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, 170px);
  padding: 0.2rem; */
}

.product-item {
  width: auto !important;
}

@media screen and (max-width: 500px) {
  .product-grid {
    justify-content: center;
  }
}
