.products-container {
  width: 100%;
  padding: 0.5rem;
  background-color: rgb(248, 244, 244);
}

.min-height {
  min-height: 90vh;
}

.products-container .display-grid {
  width: 100%;
  display: grid;
  justify-content: space-around;
  align-items: center;
  gap: 0.3rem;
  row-gap: 0.7rem;
  grid-template-columns: repeat(auto-fill, 180px);
  padding: 0.2rem;
  margin: 0 auto;
  margin-top: 1.2rem;
}

.products-container h2 {
  font-size: 1.7rem;
}

.navbar-top {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.2rem;
  justify-content: space-between;
  background-color: #f0d9af;
}

.navbar-top span {
  font-weight: bold;
}

.products-navbar {
  margin: 1rem 0 0.5rem 0;
}

.swiper-product {
  margin-top: 1rem;
}

.swiper-navbar {
  padding: 0 0.2rem;
}

.hidden {
  display: none;
}

.nav-item {
  width: auto !important;
}

.nav-item button {
  padding: 8px 16px;
  border-radius: 20px;
  background: #000000;
  border: 1px solid #ddd;
  cursor: pointer;
  color: #eee8e8;
  white-space: nowrap;
  transition: all 0.3s;
  box-shadow: 2px 2px 4px #3a373756;
  margin: 0.2rem;
}

.nav-item button:hover {
  background: #383737;
}

.product-grid {
  width: 100%;
  margin: 1rem 0;
}

.product-item {
  width: auto !important;
}

.flex {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .product-grid {
    justify-content: center;
  }

  .products-container .display-grid {
    grid-template-columns: repeat(auto-fill, 170px);
  }
}
