.reviews-container {
  padding-top: 3rem;
  background-color: rgba(204, 204, 204, 0.308);
}

.reviews-item {
  width: auto !important;
  margin: 0 auto;
}

.reviews-card {
  position: relative;
  width: 100%;
  max-width: 500px;
  background-color: #ffffff;
  display: grid;
  padding: 1rem;
  gap: 0.4rem;
  margin: 0.2rem auto;
  border-radius: 10px;
  border: 1px solid #a8a5a531;
  box-shadow: 1px 1px 4px #52515118;
}

.reviews-card .rating {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.review-text {
  font-size: 1.2rem;
  color: #333;
  margin: 0.5rem 0;
}

.center {
  text-align: center;
}

.user-review {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.user-review .name {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0;
}

.reviews-card .user-review img {
  border-radius: 50%;
}

.reviews-images {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
  flex-wrap: wrap;
}

.navbar-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0.2rem;
  justify-content: space-between;
  background-color: #ffffff;
  margin-bottom: 0.5rem;
  box-shadow: 2px 2px 4px #52515138;
}

.navbar-review h2 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}

.navbar-review h3 {
  margin-top: 1.5rem;
}

.navbar-top span {
  font-weight: bold;
}

.reviews-card img {
  display: block;
  border-radius: 5px;
}

.swiper-review {
  padding: 2rem 0.5rem !important;
}

.flex {
  display: flex;
  align-items: center;
}

.name {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.price {
  font-weight: 550;
  font-size: 1rem;
}

.discount {
  color: darkred;
  font-weight: bold;
  font-size: 0.7rem;
  background-color: rgba(255, 0, 0, 0.212);
  position: absolute;
  padding: 0.35rem 0.15rem;
  border-radius: 8px;
  top: 10px;
  right: 10px;
}

@media screen and (max-width: 550px) {
  .reviews-card {
    position: relative;
    width: 100%;
    max-width: 320px;
  }
}
