* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", Arial, Helvetica, sans-serif;
  background-color: rgb(32, 31, 31);
  color: #fff;
  min-width: 320px;
  min-height: 100vh;
}
