.signup-form {
  background-color: rgba(255, 168, 69, 0.219);
  min-height: 100vh;
  width: 100%;
}

.signup-background {
  background-image: linear-gradient(#ff891423, #ff891477, #ff8914);
  min-height: 30vh;
  padding: 5vh 0 0;
  display: flex;
  justify-content: center;
}

.signup-icon {
  background-color: #fff;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.signup {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form {
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 1rem 1.5rem;
  min-width: 335px;
  max-width: 400px;
  margin: 0 auto;
  position: absolute;
  top: 20vh;
}

.signup .form h1 {
  text-align: center;
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 1.5rem;
  padding: 0.5rem;
  margin-bottom: 1.2rem;
}

.signup-container .input {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 0.5rem;
  border-bottom: 2px solid #ff891459;
}

.input input {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0.3rem 0;
}
.input label {
  margin-bottom: 0.5rem;
  color: #080808;
}

.signup .form .signup-btn {
  background-color: #ff8914;
  color: #fff;
  padding: 0.7rem 1rem;
  width: 200px;
  border: none;
  outline: none;
  border-radius: 30px;
  position: absolute;
  bottom: -1.2rem;
  cursor: pointer;
}

.signup .alt-signup {
  position: absolute;
  bottom: -100px;
  right: 0;
  left: 0;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.5rem;
}
.alt-link {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.google-signup {
  cursor: pointer;
}

.login-redirect {
  text-decoration: underline;
  color: #ff8914;
  text-shadow: 2px 2px 4px #0808083b;
}
